<div class="jumbotron" align="center">
  <h1 class="display-4">Egresso</h1>
  <p class="lead">Instituto Federal de Educação, Ciência e Tecnologia da Paraíba - IFPB.</p>
  <hr class="my-4">
  <p>Campus João Pessoa</p>

  <h1> <%= t "idioma" %> </h1>
  <h1> <%= t "fofo" %> </h1>
  <h1> <%= l Date.today %> </h1>
</div>